<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bcsport.admin.qywxmapper.QywxCustomerListDepartmentMapper">
    <delete id="deleteAll">DELETE FROM VX_CustomerList_department</delete>
    <insert id="insertBatch">
        INSERT INTO VX_CustomerList_department(id, userid, department, createTime)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.userid}, #{item.department}, GETDATE())
        </foreach>
    </insert>
</mapper>
