<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bcsport.admin.qywxmapper.QywxDepartmentMemberDetailMapper">
    <delete id="deleteAll">DELETE FROM VX_DepartmentMembersList</delete>
    <insert id="insertBatch">
        INSERT INTO VX_DepartmentMembersList(id, userid, name, open_userid, main_department, position, mobile, status, createTime, updateTime)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.userid}, #{item.name}, #{item.openUserid}, #{item.mainDepartment}, #{item.position}, #{item.mobile}, #{item.status}, GETDATE(), GETDATE())
        </foreach>
    </insert>

    <select id="selectNameByUserid" resultType="java.lang.String">
        SELECT name FROM VX_DepartmentMembersList WHERE userid = #{userid}
    </select>

    <select id="selectNameByUserids" resultType="com.bcsport.admin.entity.qywx.QywxDepartmentMemberDetail">
        SELECT userid, name FROM VX_DepartmentMembersList WHERE userid IN
        <foreach collection="userids" item="userid" open="(" separator="," close=")">
            #{userid}
        </foreach>
    </select>
</mapper>
