<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bcsport.admin.qywxmapper.QywxFollowUserMapper">
    <select id="selectAllUserIds" resultType="java.lang.String">
        SELECT follow_user FROM VX_FollowUserList
    </select>
    <delete id="deleteAll">TRUNCATE TABLE VX_FollowUserList</delete>
    <insert id="insertBatch">
        INSERT INTO VX_FollowUserList(id, follow_user, createTime)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.followUser}, GETDATE())
        </foreach>
    </insert>

    <select id="selectPageWithDetail" resultType="java.util.LinkedHashMap">
        SELECT
            f.follow_user    AS followUser,
            d.name           AS name,
            d.position       AS position,
            d.mobile         AS mobile,
            dept.name        AS mainDepartment,
            f.createTime     AS createTime
        FROM VX_FollowUserList f
        LEFT JOIN VX_DepartmentMembersList d ON f.follow_user = d.userid
        LEFT JOIN VX_DepartmentList dept ON dept.departId = d.main_department
        <where>
            <if test="name != null and name != ''">
                AND d.name LIKE '%' + #{name} + '%'
            </if>
            <if test="mobile != null and mobile != ''">
                AND d.mobile LIKE '%' + #{mobile} + '%'
            </if>
            <if test="mainDepartment != null and mainDepartment != ''">
                AND dept.name LIKE '%' + #{mainDepartment} + '%'
            </if>
        </where>
        ORDER BY f.createTime DESC
        OFFSET #{offset} ROWS FETCH NEXT #{pageSize} ROWS ONLY
    </select>

    <select id="selectCountWithDetail" resultType="long">
        SELECT COUNT(1)
        FROM VX_FollowUserList f
        LEFT JOIN VX_DepartmentMembersList d ON f.follow_user = d.userid
        LEFT JOIN VX_DepartmentList dept ON dept.departId = d.main_department
        <where>
            <if test="name != null and name != ''">
                AND d.name LIKE '%' + #{name} + '%'
            </if>
            <if test="mobile != null and mobile != ''">
                AND d.mobile LIKE '%' + #{mobile} + '%'
            </if>
            <if test="mainDepartment != null and mainDepartment != ''">
                AND dept.name LIKE '%' + #{mainDepartment} + '%'
            </if>
        </where>
    </select>
</mapper>
