<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bcsport.admin.qywxmapper.QywxDepartmentMapper">
    <delete id="deleteAll">DELETE FROM VX_DepartmentList</delete>
    <insert id="insertBatch">
        INSERT INTO VX_DepartmentList(id, departId, name, name_en, parentId, parentOrder, createTime, updateTime)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.departId}, #{item.name}, #{item.nameEn}, #{item.parentId}, #{item.parentOrder}, GETDATE(), GETDATE())
        </foreach>
    </insert>
    <select id="selectAll" resultType="com.bcsport.admin.entity.qywx.QywxDepartment">
        SELECT * FROM VX_DepartmentList
    </select>

    <select id="selectDepartIdByName" resultType="java.lang.String">
        SELECT departId FROM VX_DepartmentList WHERE name = #{name}
    </select>

    <select id="selectDepartIdByNameAndParent" resultType="java.lang.String">
        SELECT d.departId
        FROM VX_DepartmentList d
        LEFT JOIN VX_DepartmentList p ON d.parentId = p.departId
        WHERE d.name = #{name} AND p.name = #{parentName}
    </select>

    <select id="selectDepartIdByThreeLevel" resultType="java.lang.String">
        SELECT d.departId
        FROM VX_DepartmentList d
        LEFT JOIN VX_DepartmentList p ON d.parentId = p.departId
        LEFT JOIN VX_DepartmentList gp ON p.parentId = gp.departId
        WHERE d.name = #{name}
        AND (p.name = #{parentName} OR gp.name = #{firstLevelName})
    </select>
</mapper>
