<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bcsport.admin.qywxmapper.QywxAttrsBaseMapper">

    <delete id="deleteAll">
        TRUNCATE TABLE VX_attrsBase
    </delete>

    <insert id="insertBatch">
        INSERT INTO VX_attrsBase (id, userid, name, enrollInDate, type, createTime)
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.id}, #{item.userid}, #{item.name}, #{item.enrollInDate}, #{item.type}, #{item.createTime})
        </foreach>
    </insert>

    <select id="selectUseridByStaffNo" resultType="java.lang.String">
        SELECT userid
        FROM VX_attrsBase
        WHERE name = '工号' AND enrollInDate = #{staffNo}
    </select>

    <select id="selectUseridByStaffNos" resultType="com.bcsport.admin.entity.qywx.QywxAttrsBase">
        SELECT userid, enrollInDate
        FROM VX_attrsBase
        WHERE name = '工号' AND enrollInDate IN
        <foreach collection="staffNos" item="staffNo" open="(" separator="," close=")">
            #{staffNo}
        </foreach>
    </select>

</mapper>
