<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bcsport.admin.qywxmapper.VxCustomerBaseDetailsMapper">

    <delete id="deleteAllDetails">
        DELETE FROM VX_CustomerBaseDetails
    </delete>

    <delete id="deleteAllGroupMembers">
        DELETE FROM VX_CustomerBaseDetails_GroupMembers
    </delete>

    <insert id="insertDetail">
        INSERT INTO VX_CustomerBaseDetails (chatId, name, owner, createTime, member_list, createTime2)
        VALUES (#{chatId}, #{name}, #{owner}, #{createTime}, #{memberList}, GETDATE())
    </insert>

    <insert id="insertGroupMembersBatch">
        INSERT INTO VX_CustomerBaseDetails_GroupMembers (chatId, userid, type, join_time, join_scene, invitor, name, unionId, createTime)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.chatId}, #{item.userid}, #{item.type}, #{item.joinTime}, #{item.joinScene}, #{item.invitor}, #{item.name}, #{item.unionId}, GETDATE())
        </foreach>
    </insert>

    <select id="selectPageByOwner" resultType="java.util.LinkedHashMap">
        SELECT chatId, name, owner, createTime, member_list AS memberList
        FROM VX_CustomerBaseDetails
        WHERE owner = #{owner}
        <if test="name != null and name != ''">
            AND name LIKE '%' + #{name} + '%'
        </if>
        ORDER BY createTime DESC
        OFFSET #{offset} ROWS FETCH NEXT #{pageSize} ROWS ONLY
    </select>

    <select id="selectCountByOwner" resultType="long">
        SELECT COUNT(1) FROM VX_CustomerBaseDetails
        WHERE owner = #{owner}
        <if test="name != null and name != ''">
            AND name LIKE '%' + #{name} + '%'
        </if>
    </select>

    <select id="selectPage" resultType="java.util.LinkedHashMap">
        SELECT g.chatId, g.name, g.owner, d.name AS ownerName, g.member_list AS memberList, g.createTime
        FROM VX_CustomerBaseDetails g
        LEFT JOIN VX_DepartmentMembersList d ON g.owner = d.userid
        <where>
            <if test="name != null and name != ''">
                AND g.name LIKE '%' + #{name} + '%'
            </if>
            <if test="ownerName != null and ownerName != ''">
                AND d.name LIKE '%' + #{ownerName} + '%'
            </if>
        </where>
        ORDER BY g.createTime DESC
        OFFSET #{offset} ROWS FETCH NEXT #{pageSize} ROWS ONLY
    </select>

    <select id="selectCount" resultType="long">
        SELECT COUNT(1)
        FROM VX_CustomerBaseDetails g
        LEFT JOIN VX_DepartmentMembersList d ON g.owner = d.userid
        <where>
            <if test="name != null and name != ''">
                AND g.name LIKE '%' + #{name} + '%'
            </if>
            <if test="ownerName != null and ownerName != ''">
                AND d.name LIKE '%' + #{ownerName} + '%'
            </if>
        </where>
    </select>

</mapper>
