<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bcsport.admin.qywxmapper.VxCustomerlistdetailsFollowInfoMapper">

    <delete id="deleteAll">
        DELETE FROM VX_CustomerListDetails_follow_info
    </delete>

    <insert id="insertBatch">
        INSERT INTO VX_CustomerListDetails_follow_info (userid, remark, createtime, description, createTime2, addWay, operUserid, externalUserid)
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.userid}, #{item.remark}, #{item.createtime}, #{item.description}, GETDATE(), #{item.addWay}, #{item.operUserid}, #{item.externalUserid})
        </foreach>
    </insert>

    <select id="selectAll" resultType="com.bcsport.admin.entity.qywx.VxCustomerlistdetailsFollowInfo">
        SELECT id, userid, externalUserid, remark, description, createtime, addWay, operUserid, createTime2
        FROM VX_CustomerListDetails_follow_info
    </select>

    <select id="selectByExternalUserids" resultType="com.bcsport.admin.entity.qywx.VxCustomerlistdetailsFollowInfo">
        SELECT userid, externalUserid
        FROM VX_CustomerListDetails_follow_info
        WHERE externalUserid IN
        <foreach collection="externalUserids" item="eid" open="(" separator="," close=")">
            #{eid}
        </foreach>
    </select>

    <select id="selectCustomerPageByUserid" resultType="java.util.LinkedHashMap">
        SELECT
            fi.externalUserid AS externalUserid,
            ec.name           AS name,
            ec.type           AS type,
            ec.corp_name      AS corpName,
            fi.remark         AS remark,
            fi.description    AS description,
            fi.addWay         AS addWay,
            CASE WHEN ISNUMERIC(fi.createtime) = 1
                 THEN CONVERT(VARCHAR(19), DATEADD(SECOND, CAST(fi.createtime AS BIGINT), '1970-01-01'), 120)
                 ELSE fi.createtime
            END               AS createTime
        FROM VX_CustomerListDetails_follow_info fi
        LEFT JOIN VX_CustomerListDetails_external_contact ec ON fi.externalUserid = ec.externalUserid
        WHERE fi.userid = #{userid}
        <if test="name != null and name != ''">
            AND ec.name LIKE '%' + #{name} + '%'
        </if>
        ORDER BY fi.createtime DESC
        OFFSET #{offset} ROWS FETCH NEXT #{pageSize} ROWS ONLY
    </select>

    <select id="selectCustomerCountByUserid" resultType="long">
        SELECT COUNT(1)
        FROM VX_CustomerListDetails_follow_info fi
        LEFT JOIN VX_CustomerListDetails_external_contact ec ON fi.externalUserid = ec.externalUserid
        WHERE fi.userid = #{userid}
        <if test="name != null and name != ''">
            AND ec.name LIKE '%' + #{name} + '%'
        </if>
    </select>

</mapper>
