<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bcsport.admin.qywxmapper.VxCustomerlistdetailsFollowInfoMapper">

    <delete id="deleteAll">
        DELETE FROM VX_CustomerListDetails_follow_info
    </delete>

    <insert id="insertBatch">
        INSERT INTO VX_CustomerListDetails_follow_info (userid, remark, createtime, description, createTime2, addWay, operUserid, externalUserid)
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.userid}, #{item.remark}, #{item.createtime}, #{item.description}, GETDATE(), #{item.addWay}, #{item.operUserid}, #{item.externalUserid})
        </foreach>
    </insert>

    <select id="selectAll" resultType="com.bcsport.admin.entity.qywx.VxCustomerlistdetailsFollowInfo">
        SELECT id, userid, externalUserid, remark, description, createtime, addWay, operUserid, createTime2
        FROM VX_CustomerListDetails_follow_info
    </select>

    <select id="selectByExternalUserids" resultType="com.bcsport.admin.entity.qywx.VxCustomerlistdetailsFollowInfo">
        SELECT userid, externalUserid
        FROM VX_CustomerListDetails_follow_info
        WHERE externalUserid IN
        <foreach collection="externalUserids" item="eid" open="(" separator="," close=")">
            #{eid}
        </foreach>
    </select>

</mapper>
