<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bcsport.admin.ydklmapper.YdCustomerFlowMapper">

    <delete id="deleteTodayData">
        DELETE FROM yd_customerflow
        WHERE DATEDIFF(DAY, insertDate, GETDATE()) = 0
    </delete>

    <insert id="insertBatch">
        INSERT INTO yd_customerflow
        (id, storeIdUuid, storeCode, name, realTime, indoorCount, outdoorCount,
         statDimensionDayTime, statDimensionHourTime, outsum, areaCode, areaName,
         storeAreaIdUuid, insertDate)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.storeIdUuid}, #{item.storeCode}, #{item.name},
             #{item.realTime}, #{item.indoorCount}, #{item.outdoorCount},
             #{item.statDimensionDayTime}, #{item.statDimensionHourTime},
             #{item.outsum}, #{item.areaCode}, #{item.areaName},
             #{item.storeAreaIdUuid}, GETDATE())
        </foreach>
    </insert>

</mapper>
