<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bcsport.admin.ihrmapper.IhrEmployeeUpdateStatusMapper">

    <sql id="effectiveSyncStatus">
        CASE
            WHEN us.sync_time IS NULL THEN 0
            WHEN CONVERT(DATE, us.sync_time) &lt; CONVERT(DATE, em_latest.sync_date) THEN 0
            ELSE us.sync_status
        END
    </sql>

    <sql id="updateJoin">
        FROM (
            SELECT staff_id, MAX(sync_date) AS sync_date
            FROM employee_modifications
            <where>
                <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
                    CONVERT(DATE, sync_date) BETWEEN CONVERT(DATE, #{startDate}) AND CONVERT(DATE, #{endDate})
                </if>
            </where>
            GROUP BY staff_id
        ) em_latest
        INNER JOIN employee_information ei ON em_latest.staff_id = ei.id
        LEFT JOIN ihr_employee_update_status us ON em_latest.staff_id = us.staff_id
        <where>
            <if test="staffName != null and staffName != ''">
                AND ei.staff_name LIKE '%' + #{staffName} + '%'
            </if>
            <if test="staffNo != null and staffNo != ''">
                AND ei.staff_no LIKE '%' + #{staffNo} + '%'
            </if>
            <if test="syncStatus != null">
                AND <include refid="effectiveSyncStatus"/> = #{syncStatus}
            </if>
            <if test="excludedStaffNos != null and excludedStaffNos.size() > 0">
                AND ei.staff_no NOT IN
                <foreach collection="excludedStaffNos" item="sno" open="(" separator="," close=")">
                    #{sno}
                </foreach>
            </if>
        </where>
    </sql>

    <select id="selectUpdatePage" resultType="com.bcsport.admin.vo.IhrEmployeeUpdateVO">
        SELECT
            em_latest.staff_id AS staffId,
            ei.staff_name AS staffName,
            ei.staff_no AS staffNo,
            ei.mobile_no AS mobileNo,
            ei.department_name AS departmentName,
            CONVERT(VARCHAR(10), em_latest.sync_date, 120) AS modifyDate,
            ei.staff_status AS staffStatus,
            <include refid="effectiveSyncStatus"/> AS syncStatus,
            us.sync_time AS syncTime,
            us.error_message AS errorMessage
        <include refid="updateJoin" />
        ORDER BY em_latest.sync_date DESC, ei.staff_name
        OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
    </select>

    <select id="countUpdate" resultType="long">
        SELECT COUNT(1)
        <include refid="updateJoin" />
    </select>

    <insert id="upsertByStaffId">
        MERGE ihr_employee_update_status AS target
        USING (SELECT #{entity.staffId} AS staff_id) AS source
        ON target.staff_id = source.staff_id
        WHEN MATCHED THEN
            UPDATE SET
                staff_name = #{entity.staffName},
                staff_no = #{entity.staffNo},
                sync_status = #{entity.syncStatus},
                sync_time = #{entity.syncTime},
                error_message = #{entity.errorMessage},
                update_time = GETDATE()
        WHEN NOT MATCHED THEN
            INSERT (staff_id, staff_name, staff_no, sync_status, sync_time, error_message, create_time, update_time)
            VALUES (#{entity.staffId}, #{entity.staffName}, #{entity.staffNo}, #{entity.syncStatus}, #{entity.syncTime}, #{entity.errorMessage}, GETDATE(), GETDATE());
    </insert>

</mapper>
