<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bcsport.admin.ihrmapper.IhrEmployeeSubset04Mapper">
    <delete id="deleteAll">DELETE FROM employee_tab_staff_subset04</delete>
    <insert id="insertBatch">
        INSERT INTO employee_tab_staff_subset04(staff_id, d_code_type_0, d_code_type_1, d_code_type_2,
            d_string_1, d_code_type_3, d_code_type_4, d_code_type_5, d_string_0, d_code_type_6,
            create_time, update_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.staffId}, #{item.dCodeType0}, #{item.dCodeType1}, #{item.dCodeType2}, #{item.dString1},
             #{item.dCodeType3}, #{item.dCodeType4}, #{item.dCodeType5}, #{item.dString0}, #{item.dCodeType6},
             GETDATE(), GETDATE())
        </foreach>
    </insert>
</mapper>
