<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bcsport.admin.hkerpmapper.HkBasPersonnelMapper">

    <select id="queryMaxNum" resultType="java.lang.String">
        select Max(PersonnelID)
        from Bas_Personnel
        where CompanyID = 'BC'
    </select>

    <select id="queryEmployeeOne" resultType="com.bcsport.admin.entity.hkerp.HkBasPersonnel">
        select * from Bas_Personnel
        <where>
            PersonnelName = #{personnelName} and Mobilephone = #{mobilePhone}
        </where>
    </select>

    <select id="queryIdByDepartmentName" resultType="java.lang.String">
        select DepartMentID
        from Bas_DepartMent
        where DepartMentName = #{departmentName}
    </select>

    <select id="queryShopIdByDepartmentName" resultType="com.bcsport.admin.entity.hkerp.HkShopStockSportCity">
        select ShopID, StockID, SportCityID
        from Bas_Shop
        where ShopName = #{departmentName}
          and ShopID is not null
          and StockID is not null
          and SportCityID is not null
          and CompanyID = 'BC'
    </select>

    <select id="findPersonnelByNameAndMobileNo" resultType="java.lang.Integer">
        SELECT count(PersonnelCode)
        from Bas_Personnel
        where PersonnelName = #{personnelName}
          and Mobilephone = #{mobilePhone}
          and AllowUsed = 0
    </select>

    <select id="findPersonnel" resultType="java.lang.Boolean">
        SELECT count(PersonnelCode)
        from Bas_Personnel
        where PersonnelName = #{personnelName}
          and Mobilephone = #{mobilePhone}
          and AllowUsed = 1
    </select>

    <update id="updatePersonnelOfAllowUsedAndPersonnelStatus">
        update Bas_Personnel
        set AllowUsed = 1,
            PersonnelStatus = 0,
            ShopID = #{shopId},
            StockID = #{stockId}
        where PersonnelName = #{personnelName}
          and Mobilephone = #{mobilePhone}
    </update>

    <insert id="insertBatch">
        INSERT into Bas_Personnel (CompanyID,
        PersonnelID,
        PersonnelCode,
        PersonnelName,
        PersonnelTypeID,
        DepartMentID,
        Sex,
        Mobilephone,
        IsEmployee,
        IsBuyer,
        IsPicker,
        IsSurveyor,
        IsAssistant,
        ShopID,
        AllowUsed,
        CheckState,
        LockState,
        SyncState,
        ModifyDTM,
        IsSDCashier,
        IsEMCashier,
        IsEMPerson,
        IsStocker,
        StockID,
        IsRecipients,
        Lan,
        AllShopName,
        PersonnelStatus)
        values
        <foreach collection="list" separator="," item="item" index="index">
            (#{item.companyId}, #{item.personnelId}, #{item.personnelCode}, #{item.personnelName},
            #{item.personnelTypeId}, #{item.departmentId},
            #{item.sex}, #{item.mobilePhone}, #{item.isEmployee}, #{item.isBuyer}, #{item.isPicker}, #{item.isSurveyor},
            #{item.isAssistant},
            #{item.shopId}, #{item.allowUsed}, #{item.checkState}, #{item.lockState}, #{item.syncState},
            getdate(), #{item.isSdCashier},
            #{item.isEmCashier}, #{item.isEmPerson}, #{item.isStocker}, #{item.stockId}, #{item.isRecipients},
            #{item.lan}, #{item.allShopName},
            #{item.personnelStatus})
        </foreach>
    </insert>

    <update id="updateAllowUse">
        UPDATE Bas_Personnel
        set AllowUsed       = 0,
            ModifyDTM       = getdate(),
            PersonnelStatus = 2
        where PersonnelName = #{personnelName}
          and Mobilephone = #{mobilePhone}
          and AllowUsed = 1
    </update>

    <select id="findPersonnelByAllowUseAndStatus" resultType="com.bcsport.admin.entity.hkerp.HkBasPersonnel">
        SELECT PersonnelName, Mobilephone
        from Bas_Personnel
        where AllowUsed = 0
          and PersonnelStatus = 0
          <!-- F48: CONVERT(VARCHAR,ModifyDTM) 包列致索引失效，改 sargable 范围(语义等价:ModifyDTM 的日期部分 &lt;= 今天-30) -->
          and ModifyDTM &lt; DATEADD(DAY, -29, CAST(getdate() AS date))
    </select>

    <update id="updateStatus">
        UPDATE Bas_Personnel
        set PersonnelStatus = 2
        where PersonnelName = #{personnelName}
          and Mobilephone = #{mobilePhone}
    </update>

    <select id="findShopId" resultType="java.lang.String">
        select ShopID
        from bas_shop
        where ShopName = #{departmentName}
          and CompanyID = 'BC'
    </select>

    <!-- F48: (A or B) 跨列 OR 致索引失效。两条 SET 值固定的幂等 UPDATE 拆开写，各自走索引；
         返回值 void，不依赖受影响行数 -->
    <update id="updateUserShopId">
        UPDATE Bas_Personnel
        SET ShopID      = #{shopId},
            AllShopName = #{newDepartment},
            StockID     = #{stockId}
        WHERE PersonnelName = #{staffName}
          AND Mobilephone = #{mobileNo}
          AND ShopID = #{shopId};

        UPDATE Bas_Personnel
        SET ShopID      = #{shopId},
            AllShopName = #{newDepartment},
            StockID     = #{stockId}
        WHERE PersonnelName = #{staffName}
          AND Telphone = #{mobileNo}
          AND ShopID = #{shopId}
    </update>

    <update id="updateUserPh">
        UPDATE Bas_Personnel
        SET Mobilephone = #{newPhone},
            Telphone    = #{newPhone}
        WHERE PersonnelName = #{staffName}
          AND Mobilephone = #{mobileNo};

        UPDATE Bas_Personnel
        SET Mobilephone = #{newPhone},
            Telphone    = #{newPhone}
        WHERE PersonnelName = #{staffName}
          AND Telphone = #{mobileNo}
    </update>

    <select id="getStockIdByShopId" parameterType="java.lang.String" resultType="java.lang.String">
        select StockID
        from Bas_Shop
        where ShopID = #{shopId}
          and CompanyID = 'BC'
          AND AllowUsed = 1
    </select>

</mapper>
