<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bcsport.admin.mapper.sticker.StickerPrintOrderDetailMapper">

    <insert id="batchInsert">
        INSERT INTO sticker_print_order_detail (id, order_id, style_number, material_name, material_number, color, execution_standard, size_code, size_name, size_group, ean13, brand_name, price, print_qty, sort, origin, manufacturer, manufacturer_address, contact_phone, material_composition, create_time)
        <foreach collection="list" item="d" separator=" UNION ALL ">
            SELECT #{d.id}, #{d.orderId}, #{d.styleNumber}, #{d.materialName}, #{d.materialNumber}, #{d.color}, #{d.executionStandard}, #{d.sizeCode}, #{d.sizeName}, #{d.sizeGroup}, #{d.ean13}, #{d.brandName}, #{d.price}, #{d.printQty}, #{d.sort}, #{d.origin}, #{d.manufacturer}, #{d.manufacturerAddress}, #{d.contactPhone}, #{d.materialComposition}, #{d.createTime} FROM DUAL
        </foreach>
    </insert>

</mapper>
