<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>实体渠道配置 - BC体育后台管理系统</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <div th:replace="~{common/fragments :: sidebar}"></div>

    <div class="main-content">
        <nav th:replace="~{common/fragments :: top-navbar}"></nav>

        <div class="content-wrapper">
            <div class="bc-card">
                <div class="bc-card-body">
                    <form id="searchForm" class="bc-toolbar-dense p-3">
                        <div class="row g-2 mb-2">
                            <div class="col-6 col-md-2">
                                <select class="bc-select" id="searchEntityType">
                                    <option value="">全部类型</option>
                                    <option value="shop">店铺</option>
                                    <option value="stock">仓库</option>
                                    <option value="customer">客户</option>
                                </select>
                            </div>
                            <div class="col-6 col-md-2">
                                <div class="bc-input-group">
                                    <i class="bi bi-upc-scan"></i>
                                    <input type="text" class="bc-input" id="searchExternalId" placeholder="外部ID...">
                                </div>
                            </div>
                            <div class="col-6 col-md-2">
                                <div class="bc-input-group">
                                    <i class="bi bi-tag"></i>
                                    <input type="text" class="bc-input" id="searchEntityName" placeholder="实体名称...">
                                </div>
                            </div>
                            <div class="col-6 col-md-2">
                                <select class="bc-select" id="searchBrandId">
                                    <option value="">全部品牌</option>
                                </select>
                            </div>
                            <div class="col-6 col-md-2">
                                <select class="bc-select" id="searchChannelTypeId">
                                    <option value="">渠道类型</option>
                                </select>
                            </div>
                            <div class="col-6 col-md-2">
                                <select class="bc-select" id="searchChannelDefId">
                                    <option value="">渠道定义</option>
                                </select>
                            </div>
                        </div>
                        <div class="row g-2">
                            <div class="col-6 col-md-2">
                                <select class="bc-select" id="searchChannelNatureId">
                                    <option value="">渠道性质</option>
                                </select>
                            </div>
                            <div class="col-6 col-md-2">
                                <select class="bc-select" id="searchBusinessTypeId">
                                    <option value="">经营类型</option>
                                </select>
                            </div>
                            <div class="col-6 col-md-2">
                                <select class="bc-select" id="searchRegionLevel1Id">
                                    <option value="">一级地区</option>
                                </select>
                            </div>
                            <div class="col-6 col-md-2">
                                <select class="bc-select" id="searchRegionLevel2Id">
                                    <option value="">二级地区</option>
                                </select>
                            </div>
                            <div class="col-6 col-md-2">
                                <select class="bc-select" id="searchStatus">
                                    <option value="">全部状态</option>
                                    <option value="1">启用</option>
                                    <option value="0">禁用</option>
                                </select>
                            </div>
                            <div class="col-6 col-md-2 bc-toolbar-dense-actions">
                                <button type="button" class="btn bc-btn-primary" id="searchBtn">
                                    <i class="bi bi-search"></i> 查询
                                </button>
                                <button type="button" class="btn bc-btn-secondary" id="resetBtn" title="重置">
                                    <i class="bi bi-arrow-counterclockwise"></i>
                                </button>
                                <a th:if="${#lists.contains(permissions, '*') or #lists.contains(permissions, 'bi:entity:add')}"
                                   href="/bi/entity-channel/form" class="btn bc-btn-success" id="addBtn" title="新增配置">
                                    <i class="bi bi-plus-lg"></i> 新增
                                </a>
                            </div>
                        </div>
                    </form>

                    <div class="bc-table-container">
                        <table class="bc-table bc-table-hover" id="dataTable">
                            <thead>
                                <tr>
                                    <th style="width: 60px;">序号</th>
                                    <th style="width: 80px;">类型</th>
                                    <th>外部ID</th>
                                    <th>实体名称</th>
                                    <th>品牌</th>
                                    <th>一级地区</th>
                                    <th>二级地区</th>
                                    <th>渠道类型</th>
                                    <th>渠道定义</th>
                                    <th>渠道性质</th>
                                    <th>经营类型</th>
                                    <th style="width: 80px;">状态</th>
                                    <th style="width: 80px;" class="text-end">操作</th>
                                </tr>
                            </thead>
                            <tbody id="dataTableBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- 分页组件 -->
            <div th:replace="~{common/fragments :: pagination}"></div>
        </div>

        <div th:replace="~{common/fragments :: footer}"></div>
    </div>




    <div th:replace="~{common/fragments :: confirm-modal}"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script th:inline="javascript">
        window.userPermissions = /*[[${permissions}]]*/ [];

    </script>
    <script src="/js/common.js"></script>

    <script>
        let currentPage = 1;
        let pageSize = 10;

        $(document).ready(function() {
            loadDataList();
            loadDropdownData();

            $('#searchBtn').click(() => { currentPage = 1; loadDataList(); });
            $('#resetBtn').click(() => {
                $('#searchForm')[0].reset();
                $('#searchRegionLevel2Id').html('<option value="">二级地区</option>');
                $('#searchChannelDefId').html('<option value="">渠道定义</option>');
                $('#searchBusinessTypeId').html('<option value="">经营类型</option>');
                $('#searchBrandId').val('');
                currentPage = 1;
                loadDataList();
            });

            // 搜索联动
            $('#searchRegionLevel1Id').change(function() {
                loadSearchRegionLevel2Options($(this).val());
            });
            $('#searchChannelTypeId').change(function() {
                loadSearchChannelDefOptions($(this).val());
            });
            $('#searchChannelNatureId').change(function() {
                loadSearchBusinessTypeOptions($(this).val());
            });
        });

        function loadDropdownData() {
            BC.ajax({ url: '/api/channel-type/tree?parentId=0', success: function(res) {
                var opts = '<option value="">渠道类型</option>';
                res.forEach(function(item) { opts += '<option value="' + BC.escapeHtml(item.id) + '">' + BC.escapeHtml(item.typeName) + '</option>'; });
                $('#searchChannelTypeId').html(opts);
            }});
            BC.ajax({ url: '/api/channel-nature/tree?parentId=0', success: function(res) {
                var opts = '<option value="">渠道性质</option>';
                res.forEach(function(item) { opts += '<option value="' + BC.escapeHtml(item.id) + '">' + BC.escapeHtml(item.natureName) + '</option>'; });
                $('#searchChannelNatureId').html(opts);
            }});
            BC.ajax({ url: '/api/region/tree?parentId=0', success: function(res) {
                var opts = '<option value="">一级地区</option>';
                res.forEach(function(item) { opts += '<option value="' + BC.escapeHtml(item.id) + '">' + BC.escapeHtml(item.regionName) + '</option>'; });
                $('#searchRegionLevel1Id').html(opts);
            }});
            BC.ajax({ url: '/api/brand/list', success: function(res) {
                var opts = '<option value="">全部品牌</option>';
                res.forEach(function(item) { opts += '<option value="' + BC.escapeHtml(item.id) + '">' + BC.escapeHtml(item.brandName) + '</option>'; });
                $('#searchBrandId').html(opts);
            }});
        }

        function loadSearchRegionLevel2Options(parentId) {
            if (!parentId) { $('#searchRegionLevel2Id').html('<option value="">二级地区</option>'); return; }
            BC.ajax({ url: '/api/region/tree?parentId=' + parentId, success: function(res) {
                var opts = '<option value="">二级地区</option>';
                res.forEach(function(item) { opts += '<option value="' + BC.escapeHtml(item.id) + '">' + BC.escapeHtml(item.regionName) + '</option>'; });
                $('#searchRegionLevel2Id').html(opts);
            }});
        }

        function loadSearchChannelDefOptions(parentId) {
            if (!parentId) { $('#searchChannelDefId').html('<option value="">渠道定义</option>'); return; }
            BC.ajax({ url: '/api/channel-type/tree?parentId=' + parentId, success: function(res) {
                var opts = '<option value="">渠道定义</option>';
                res.forEach(function(item) { opts += '<option value="' + BC.escapeHtml(item.id) + '">' + BC.escapeHtml(item.typeName) + '</option>'; });
                $('#searchChannelDefId').html(opts);
            }});
        }

        function loadSearchBusinessTypeOptions(parentId) {
            if (!parentId) { $('#searchBusinessTypeId').html('<option value="">经营类型</option>'); return; }
            BC.ajax({ url: '/api/channel-nature/tree?parentId=' + parentId, success: function(res) {
                var opts = '<option value="">经营类型</option>';
                res.forEach(function(item) { opts += '<option value="' + BC.escapeHtml(item.id) + '">' + BC.escapeHtml(item.natureName) + '</option>'; });
                $('#searchBusinessTypeId').html(opts);
            }});
        }

        function loadDataList() {
            BC.ajax({
                url: '/api/entity-channel/page',
                type: 'GET',
                data: {
                    pageNum: currentPage,
                    pageSize: pageSize,
                    entityType: $('#searchEntityType').val(),
                    externalId: $('#searchExternalId').val(),
                    entityName: $('#searchEntityName').val(),
                    brandId: $('#searchBrandId').val(),
                    channelTypeId: $('#searchChannelTypeId').val(),
                    channelDefId: $('#searchChannelDefId').val(),
                    channelNatureId: $('#searchChannelNatureId').val(),
                    businessTypeId: $('#searchBusinessTypeId').val(),
                    regionLevel1Id: $('#searchRegionLevel1Id').val(),
                    regionLevel2Id: $('#searchRegionLevel2Id').val(),
                    status: $('#searchStatus').val()
                },
                success: function(res) {
                    renderTable(res.records);
                    renderPagination(res);
                }
            });
        }

        function renderTable(data) {
            const tbody = $('#dataTableBody');
            tbody.empty();
            if (!data || data.length === 0) {
                tbody.append('<tr><td colspan="12" class="text-center py-5 text-muted">暂无数据</td></tr>');
                return;
            }
            data.forEach((item, i) => {
                const seq = (currentPage - 1) * pageSize + i + 1;
                const typeTag = BC.getTag(item.entityType === 'shop' ? 'primary' : (item.entityType === 'stock' ? 'warning' : 'info'), item.entityTypeName);
                const statusTag = BC.getTag(item.status === 1 ? 'success' : 'danger', item.statusName);
                const safeId = String(item.id);

                const btnGroup = [];
                if (BC.hasPermission('bi:entity:edit')) {
                    btnGroup.push({ icon: 'bi-pencil', title: '编辑', onclick: `editData('${safeId}')` });
                }
                if (BC.hasPermission('bi:entity:delete')) {
                    btnGroup.push({ icon: 'bi-trash', title: '删除', onclick: `deleteData('${safeId}')` });
                }
                const actions = BC.getTableActions(btnGroup);
                
                tbody.append(`
                    <tr>
                        <td><span class="text-muted small">${seq}</span></td>
                        <td>${typeTag}</td>
                        <td><span class="font-monospace">${BC.escapeHtml(item.externalId || '-')}</span></td>
                        <td><span class="fw-bold">${BC.escapeHtml(item.entityName || '-')}</span></td>
                        <td><span class="small">${BC.escapeHtml(item.brandName || '-')}</span></td>
                        <td><span class="small">${BC.escapeHtml(item.regionLevel1Name || '-')}</span></td>
                        <td><span class="small">${BC.escapeHtml(item.regionLevel2Name || '-')}</span></td>
                        <td><span class="small">${BC.escapeHtml(item.channelTypeName || '-')}</span></td>
                        <td><span class="small">${BC.escapeHtml(item.channelDefName || '-')}</span></td>
                        <td><span class="small">${BC.escapeHtml(item.channelNatureName || '-')}</span></td>
                        <td><span class="small">${BC.escapeHtml(item.businessTypeName || '-')}</span></td>
                        <td>${statusTag}</td>
                        <td class="text-end">${actions}</td>
                    </tr>
                `);
            });
        }

        function renderPagination(pageData) {
            BC.renderPagination({
                total: pageData.total,
                pages: pageData.pages,
                current: pageData.pageNum,
                limit: pageData.pageSize,
                callback: (page) => {
                    currentPage = page;
                    loadDataList();
                }
            });
        }

        function editData(id) {
            window.location.href = '/bi/entity-channel/form?id=' + id;
        }

        function deleteData(id) {
            BC.confirm({
                title: '确认删除',
                message: '确定要删除该配置吗？',
                type: 'danger'
            }, (ok) => {
                if (ok) {
                    BC.ajax({
                        url: '/api/entity-channel/' + id,
                        type: 'DELETE',
                        success: function() {
                            BC.toast('删除成功', 'success');
                            loadDataList();
                        }
                    });
                }
            });
        }
    </script>
</body>
</html>
